.table-fill th {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: white;
}

.table-fill td {
    font-weight: bold;
    font-size: 1em;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.table-fill {
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
}

.table-fill td, .table-fill th {
    padding-bottom: 2%;
    padding-top: 2%;
}

/* Background-color of the odd rows */
.table-fill tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.table-fill tr:nth-child(even) {
    background-color: #2C3446;
}

.table-fill th {
    background-color: #1F2739;
}

.table-fill td {
    color: white;
}

.table-fill tr:hover {
    background-color: #464A52;
}
